{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
    </h2>

    {% if post.authors %}
      <p class="archive__item-authors">
        {{ post.authors | join: "; " }}
      </p>
    {% elsif post.author %}
      <p class="archive__item-authors">{{ post.author }}</p>
    {% endif %}

    {% if post.collection == "publications" %}
      {% if post.category == "Work in Progress" %}
        <p><em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}</p>
      {% else %}
        <p>Published in <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}</p>
      {% endif %}
    {% endif %}

    {% if post.paperurl %}
      <p><a href="{{ post.paperurl }}">Download Paper</a></p>
    {% endif %}

  </article>
</div>
