---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}

    {%- comment -%}
    Ciclo sulle categorie definite in _config.yml → publication_category
    Ogni elemento è un array: [ chiave, { title: "Titolo da mostrare" } ]
    {%- endcomment -%}
    {% for cat in site.publication_category %}
      {% assign key   = cat[0] %}
      {% assign title = cat[1].title %}

      {%- comment -%}  
      Intestazione di sezione  
      {%- endcomment -%}
      <h2 class="page__subtitle">{{ title }}</h2>
      <hr>

      {%- comment -%}
      Prendo tutti i post di questa categoria  
      {%- endcomment -%}
      {% assign this_posts = site.publications | where: "category", key %}
      {% for post in this_posts %}
        {% include archive-single.html post=post type="list" %}
      {% endfor %}

    {% endfor %}
  </div>
</div>
