---
layout: default
---

{% include base_path %}
{% include page__hero.html if needed %}
{% include breadcrumbs.html if needed %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    <header>
      <h1>{{ page.title }}</h1>
      {% if page.date %}<p>{{ page.date | date: "%B %d, %Y" }}</p>{% endif %}
      {% if page.venue %}<p><em>{{ page.venue }}</em></p>{% endif %}
      {% if page.authors %}<p>{{ page.authors }}</p>{% endif %}
    </header>

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>

    <!-- eventuali link citation/download… -->
  </article>
</div>
